#calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
      width: 300px;
      text-align: center;
    }

 .month {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .weekdays {
      display: flex;
      justify-content: space-between;
    }
    .weekdays div {
      width: 40px;
    }
    .days {
      display: flex;
      flex-wrap: wrap;
    }
    .days div {
      width: 40px;
      height: 40px;
      border: 1px solid gray;
      position: relative; /* 추가 */
    }
    .days div span {
      position: absolute; /* 추가 */
      top: 5px; /* 위치 조정 */
      right: 5px; /* 위치 조정 */
    }
