.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.calendar {
  width: 300px; /* 달력의 전체 너비를 조절 */
  text-align: center;
}

.month {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
}

.weekdays div {
  width: 40px; /* 요일 박스의 너비를 조절 */
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.days div {
  width: 40px; /* 날짜 박스의 너비를 조절 */
  height: 40px; /* 날짜 박스의 높이를 조절 */
  border: 1px solid gray;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  font-size: 0.7em;
}

.days div span {
  position: absolute;
  top: 10px;
  right: 10px;
}
